.borderShadow{
    border:1px solid;
    padding: 15px;
    box-shadow: 5px 10px #888888;
    border-radius: 25px;
    margin:15px;
}

img {
    max-width: 300px;
}

.title{
    font-weight: bold;
    font-size: large;
    text-align: center;
}
.description{
    font-style: italic;
    font-size: medium;
}